
body {
    
    background-image: url(soar-1-minimal-3d-concept-plane-soaring-on-blue-runway_9848143.jpg!sw800.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.zoz{
    border-color: burlywood ;
}
header {
    color: white;
    padding: 15px;
    text-align: center;
    width:100%;
}
#lin {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;

}
#lin:hover{
    color: black;
    }

#lin:active{
color: hotpink;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
}


.booking-form {
    background: rgba(134, 30, 30, 0);
    width: 90%;
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
    
}

.booking-form h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 40px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(42, 138, 42);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    margin-top: 13px;
    
}

button:hover {
    background-color: #0b6e21;
}



