* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: black;
    padding: 20px;
  }
  
  .top {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .top h1 {
    font-size: 2.5rem;
    color: black;
  }
  
  .top p {
    font-size: 1.1rem;
    color: #555;
    margin-top: 10px;
  }
  .right{
    width: 65%;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    float: right;
  
  }
  
  .left {
    width: 30%;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 30px; 
    float: left;
  }
  
  
  .left h2 {
    color: #007bff;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  
  .left p {
    margin: 8px 0 16px 0;
    line-height: 1.5;
    font-size: 0.95rem;
  }
  
  .left .m-span1 {
  font-weight: 400;
  }
  
  .left a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  .right h2 {
    color: #007bff;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  
  .m-circle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .hours,.email,.map,.call {
    background-color: #e6f0ff; 
    color: #007bff;           
    border-radius: 50%;
    padding: 12px;
    font-size: 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .m-text h4 {
    margin: 0;
    font-weight: 600;
  }
  
  .m-text p {
    margin: 0;
    font-size: 14px;
  }
  
  .map,.email{
    margin-bottom: 45px;
  }
  .call,.hours{
    margin-bottom: 25px;
  }
  