:root{
  --text-color:#fff ;}
  :root{
    --text-color:#000;
    --navbar-bg:#fff;
  }
* {
    margin: 0;
    padding: 0;
  }
  .switcher{
    position: fixed;
    top: 15%;
    left: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    z-index: 1000;
    transform: translateY(-50%);
  }
  .switcher button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
  }
  
  body {
    height: 100vh;
    font-family: system-ui;
    background-image: url(ll.jpg);
    background-repeat: repeat;
    color: var(--text-color);
  }
  a{
    text-decoration: none;
    color:var(--text-color);
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
  }
  header .logo{
    font-size: 30px;
    text-transform: uppercase;
    color:var(--text-color);
  }
  header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  header ul li{
    margin-right: 20px;

  }
  header ul li a{
    padding: 4px 13px;
    border-radius: 15px;
    color:var(--text-color);
  }
  header ul li a:hover,.active{
    background:var(--text-color);
    color:var(--navbar-bg);
  }
  .center-image {
    text-align: center;
    margin: 40px 0;
  }
  
  .center-image img {
    max-width: 80%;
    height:auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  .destinations {
    padding: 50px 30px;
    text-align: center;
    color:var(--text-color);
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 30px;
  }
  
  .card img {
    width: 130%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
  }
  .card p{
    font-size: 20px;
    color:var(--text-color);
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
  }
  .content{
    color:var(--text-color);
    text-align: center;
    font-size:25px;
    font-style: italic;
    font-variant: inherit;
  }
  .btn{
  margin: 50px auto;
    padding: 10px 20px;
    background-color: #0066ff;
    color:var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: fit-content;
  }
