body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(qq.jpg);
    background-size: cover;
  }
  .profile-card {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  h3 {
    margin-top: 40px;
    color: #fff;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #333;
    padding: 8px;
  }
  
  th {
    background: #007bff;
    color: #fff;
  }
  
  .delete-btn {
    background:red;
    margin: 30px auto;
    display: block;
  }
  
